<!DOCTYPE html>
<html ng-app="shop">
<head>
	<title>Do It Yourself</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/general.css">
	<link rel="stylesheet" href="styles/menu.css">
</head>
<body ng-controller="BackEndController">


	<fieldset> <legend> Log In! </legend>
		<table>
			<tr>
				<td>Email:</td>
				<td><input type="text" ng-model="email"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" ng-model="password"></td>
			</tr>

		</table>
					<button ng-click="clear()">Clear</button>
				<button ng-click="enter()">Enter</button>
	</fieldset>

	<script type="text/javascript" src="scripts/cookies.js"></script>
	<script type="text/javascript" src="scripts/BackEndController.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script>
	angular
	    .module('shop', [])
	    .controller("BackEndController", BackEndController)    
	</script>
</body>
</html>