<h1> TOT </h1>

<button ng-click="insert_all()"> Insert a new Basic! </button>

<table>
	<tr>
		<td> ID </td>
		<td> CLOTH ID </td>
		<td> USER ID </td>
		<td> TOTAL  </td>
		<td> LIKES </td>
		<td> BOUGHTS </td>
		<td> FRONT IMAGE </td>
		<td> BACK IMAGE </td>
		<td> LEFT IMAGE </td>
		<td> RIGHT IMAGE </td>
		<td></td>
	</tr>
	<tr ng-repeat="item in all | orderBy:tal | filter:filtre">
		<td> {{item.pred_id}} </td>
		<td> {{item.clothe_id}}</td>
		<td> {{item.user_id}} </td>
		<td> {{item.total_price}}</td>
		<td> {{item.likes}} </td>
		<td> {{item.boughts}} </td>
		<td> {{item.img_front}} </td>
		<td> {{item.img_back}} </td>
		<td> {{item.img_left}} </td>
		<td> {{item.img_right}} </td>

		<td> 
			<img src="../images/delete.png" alt="delete" ng-click="delete(item.pred_id)"> 
			<img src="../images/update.png" alt="update" ng-click="update(item.pred_id)">
		</td>
	</tr>
</table>

<div id="back_insertar" ng-hide="amaga_insertar" ng-click="amaga_insertar=true">

	<div id="insertar" ng-click="$event.stopPropagation();">

	<table>
		
		<tr>
			<td> Basic Cloth  </td>
			<td>
				<select ng-model="i_cloth_id">
					<option ng-repeat="item in basics  | orderBy:'clothe_id'" value="{{item.clothe_id}}"> {{item.clothe_id}}  </option>
				</select>
			</td>
		</tr>
		<tr>
			<td> User: </td>
			<td> 
				<select ng-model="i_user_id">
					<option ng-repeat="item in users | orderBy:'user_id'" value="{{item.user_id}}"> {{item.name}} {{item.surnames}} </option>
				</select>
			</td>
		</tr>
		<tr>
			<td> Total price: </td>
			<td> <input type="number" ng-model="i_total"> </td>
		</tr>
		<tr>
			<td> Likes: </td>
			<td> <input type="number" ng-model="i_likes"></td>
		</tr>
		<tr>
			<td> Boughts: </td>
			<td> <input type="file" accept="image/*" id="image" onChange="angular.element(this).scope().i_image()"></td>
		</tr>
	</table>

		<div id="img_basics">
			<button ng-model='front_img_name'> {{front_img_name }} </button> 
			<button ng-model='back_img_name'> {{ back_img_name }}</button> 	
			<button ng-model='left_img_name'> {{left_img_name }} </button> 
			<button ng-model='right_img_name'> {{ right_img_name }}</button> 		
		</div>

		<div id="previsualitza"> </div>

					
		<button id="cancel" ng-click="amaga_insertar=true"> Cancel </button>
		<button id="envia" ng-click="send_all()"> Send </button>

	</div>

</div>
