<h1> Aqui veurem totes les peces de roba </h1>

<table>
	<tr>
		<td> ID </td>
		<td> TYPE </td>
		<td> BASE PRICE </td>
		<td> COLOR </td>
		<td> IMAGE </td>
		<td></td>
	</tr>
	<tr ng-repeat="item in basics | orderBy:tal | filter:filtre">
		<td> {{item.clothe_id}} </td>
		<td> {{item.type}}</td>
		<td> {{item.base_price}}</td>
		<td> {{item.color}} </td>
		<td> {{item.img}} </td>
		<td> 
			<img src="../images/delete.png" alt="delete" ng-click="delete(item.clothe_id)"> 
			<img src="../images/update.png" alt="update" ng-click="update(item.clothe_id)">
		</td>
	</tr>
</table>