<script type="text/javascript" src="../scripts/jquery.min.js"></script>


<h1> DESIGNS </h1>

<button ng-click="insert_design()"> Insert a new Design ! </button>

<table>
	<tr>
		<td> ID </td>
		<td> IMG </td>
		<td> USER_ID </td>
		<td></td>
	</tr>
	<tr ng-repeat="item in designs | orderBy:tal | filter:filtre">
		<td> {{item.design_id}} </td>
		<td> {{item.img}}</td>
		<td> {{item.user_id}}</td>
		<td> 
			<img src="../images/delete.png" alt="delete" ng-click="delete(item.design_id)"> 
			<img src="../images/update.png" alt="update" ng-click="update(item.design_id)">
		</td>
	</tr>
</table>

<div id="back_insertar" ng-hide="amaga_insertar" ng-click="amaga_insertar=true">

	<div id="insertar" ng-click="$event.stopPropagation();">
		<h2> Choose a user </h2>
		<select ng-model="i_user_id">
			<option ng-repeat="item in users  | orderBy:'user_id'" value="{{item.user_id}}"> {{item.name}} {{item.surnames}} </option>
		</select>
		<button id="load"> LOAD YOUR DESIGN (.PNG/.JPG) </button>
		<button id="cancel" ng-click="amaga_insertar=true"> Cancel </button>
		<button id="envia" ng-click="send_all()"> Send </button>

	</div>

</div>
