<!DOCTYPE html>
<html ng-app="shop">
<head>
	<title>Do It Yourself</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../styles/basic.css">
</head>
<body>

<nav>

			<ul>
				<li ><a href="#/"> Home</a></li>
				<li ><a href="#/basics"> Basic Clothes </a></li>
				<li> <a href="#/users"> Clients </a> </li>
				<li><a href="#/designs"> Designs </a></li>
				<li><a href="#/all"> All clothes? </a></li>
			</ul>
</nav>

	<section id="body" ng-view>
	</section>

	<script type="text/javascript" src="../scripts/controllers/homeController.js"></script>
	<script type="text/javascript" src="../scripts/controllers/basicsController.js"></script>
	<script type="text/javascript" src="../scripts/controllers/designsController.js"></script>
	<script type="text/javascript" src="../scripts/controllers/usersController.js"></script>
	<script type="text/javascript" src="../scripts/controllers/allController.js"></script>
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/angular.route.min.js"></script>
	<script>
		angular.module("shop", ["ngRoute"])
		.controller("../scripts/controllers/homeController", homeController)
		.controller("../scripts/controllers/usersController", usersController)
		.controller("../scripts/controllers/basicsController", basicsController)
		.controller("../scripts/controllers/designsController", designsController)
		.controller("../scripts/controllers/allController", allController)
	    .config(function($routeProvider){
	        $routeProvider
	            .when("/", {
	                controller: "../scripts/controllers/homeController",
	                templateUrl: "../views/inici.html"
	            })
	            .when("/basics", {
	                controller: "../scripts/controllers/basicsController",
	                templateUrl: "../views/basics.html"
	            })

	            .when("/designs", {
	                controller: "../scripts/controllers/designsController",
	                templateUrl: "../views/designs.html"
	            })
	            .when("/users", {
	                controller: "../scripts/controllers/usersController",
	                templateUrl: "../views/users.html"
	            })
	            .when("/all", {
	                controller: "../scripts/controllers/allController",
	                templateUrl: "../views/all.html"
	            })
	    })  
	</script>
</body>
</html>