<h1> USERS </h1>

<table>
	<tr>
		<td> ID </td>
		<td> NAME </td>
		<td> SURNAMES </td>
		<td> EMAIL </td>
		<td> HASHED PASSWORD</td>
		<td></td>
	</tr>
	<tr ng-repeat="item in users | orderBy:tal | filter:filtre">
		<td> {{item.user_id}} </td>
		<td> {{item.name}}</td>
		<td> {{item.surnames}}</td>
		<td> {{item.email}} </td>
		<td> {{item.hash_pass}} </td>
		<td> 
			<img src="../images/delete.png" alt="delete" ng-click="delete(item.user_id)"> 
			<img src="../images/update.png" alt="update" ng-click="update(item.user_id)">
		</td>
	</tr>
</table>