@font-face {
  font-family: “Rival”;
  src: url(../fonts/Rival.ttf); 
}

footer {
	background-color: black;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	-moz-box-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content:space-around;
}

footer section {
	width: 30%;
	color: white;
	text-align: center;
	font-size: 15px;
}

#footer_3 img {
	width: 60%;
	margin: 0 auto;
}

#llicencia  {
	width:80%;
	font-family: “Rival”;
	font-size: 120%;
	margin-bottom: 10px;
}

footer a {
	color:white;
	text-decoration: none;
}

footer ul li a:hover {
	color: #FFA500;
}

footer ul li {
	list-style: none;
	display: block;
	margin-top: 2%;
  	font-family: “Rival”;
  	font-size: 150%;
}

#footer_1 p {
	font-family: “Rival”;
	font-size: 120%;
}

@media only screen and (max-width: 980px){
	footer {
		flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
		-moz-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
	}

	#footer_1 {
		width: 90%;
		align-self: center;
		-webkit-align-self: center;
		-moz-align-self: center;
		-ms-align-self: center;
		text-align: justify;
	}

	#footer_2 {
		align-self: center;
		-webkit-align-self: center;
		-moz-align-self: center;
		-ms-align-self: center;
		width: 100%;
	}

	#footer_3 {
		align-self: center;
		-webkit-align-self: center;
		-moz-align-self: center;
		-ms-align-self: center;
		width: 100%;
	}

	#footer_3 img {
		width: 90%;
		align-self: center;
		-webkit-align-self: center;
		-moz-align-self: center;
		-ms-align-self: center;
	}

	#llicencia {
		width: 90%;
		align-self: center;
		-webkit-align-self: center;
		-moz-align-self: center;
		-ms-align-self: center;
	}
}