.socials {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	flex-direction: row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	align-self: center;
	-webkit-align-self: center;
	-moz-align-self: center;
	-ms-align-self: center;
	margin-left: 10px;
}

.facebook_zone {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	background: url('../img/fa_icon.png') 0 0;
	width: 48px;
	height: 48px;
}

.facebook_zone:hover {
    animation: facebook_animation 0.15s linear alternate running forwards;
    -webkit-animation: facebook_animation 0.15s linear alternate running forwards;
    -moz-animation: facebook_animation 0.15s linear alternate running forwards;
    -ms-animation: facebook_animation 0.15s linear alternate running forwards;
}

.twitter_zone {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	background: url('../img/tw_icon.png') 0 0;
	width: 48px;
	height: 48px;
}

.twitter_zone:hover {
	animation: twitter_animation 0.1s linear alternate running forwards;
    -webkit-animation: twitter_animation 0.15s linear alternate running forwards;
    -moz-animation: twitter_animation 0.15s linear alternate running forwards;
    -ms-animation: twitter_animation 0.15s linear alternate running forwards;
}

.google_zone {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	background: url('../img/go_icon.png') 0 0;
	height: 48px;
	width: 48px;
}

.google_zone:hover {
	animation: google_animation 0.15s linear alternate running forwards;
    -webkit-animation: google_animation 0.15s linear alternate running forwards;
    -moz-animation: google_animation 0.15s linear alternate running forwards;
    -ms-animation: google_animation 0.15s linear alternate running forwards;
}

@keyframes facebook_animation {
    from {background: url('../img/fa_icon.png') 0 0;}
    to   {background: url('../img/fa_icon.png') 0 -48px;}
}

@-webkit-keyframes facebook_animation {
    from {background: url('../img/fa_icon.png') 0 0;}
    to   {background: url('../img/fa_icon.png') 0 -48px;}
}

@-moz-keyframes facebook_animation {
    from {background: url('../img/fa_icon.png') 0 0;}
    to   {background: url('../img/fa_icon.png') 0 -48px;}
}

@-ms-keyframes facebook_animation {
    from {background: url('../img/fa_icon.png') 0 0;}
    to   {background: url('../img/fa_icon.png') 0 -48px;}
}


@keyframes twitter_animation {
    from {background: url('../img/tw_icon.png') 0 0;}
    to   {background: url('../img/tw_icon.png') 0 -48px;}
}

@-webkit-keyframes twitter_animation {
    from {background: url('../img/tw_icon.png') 0 0;}
    to   {background: url('../img/tw_icon.png') 0 -48px;}
}

@-moz-keyframes twitter_animation {
    from {background: url('../img/tw_icon.png') 0 0;}
    to   {background: url('../img/tw_icon.png') 0 -48px;}
}

@-ms-keyframes twitter_animation {
    from {background: url('../img/tw_icon.png') 0 0;}
    to   {background: url('../img/tw_icon.png') 0 -48px;}
}


@keyframes google_animation {
    from {background: url('../img/go_icon.png') 0 0;}
    to   {background: url('../img/go_icon.png') 0 -48px;}
}

@-webkit-keyframes google_animation {
    from {background: url('../img/go_icon.png') 0 0;}
    to   {background: url('../img/go_icon.png') 0 -48px;}
}

@-moz-keyframes google_animation {
    from {background: url('../img/go_icon.png') 0 0;}
    to   {background: url('../img/go_icon.png') 0 -48px;}
}

@-ms-keyframes google_animation {
    from {background: url('../img/go_icon.png') 0 0;}
    to   {background: url('../img/go_icon.png') 0 -48px;}
}